# These are mostly example settings, that allow swedish uppercase slugs.
# Change them to fit your needs.

# Allow or disallow uppercase characters in the slug
lowercase: false

# The regex decides what should be allowed in the slug. Any replacements you
# want to do in the rules below should also be allowed here.
regexp: '/([^A-Za-z0-9åäöÅÄÖ]|-)+/'

# Specific replacements to do in the slug. These are overrides for the default
# replacements, so if you want to allow any disallowed character you need to
# replace it with itself here.
rules:
    ö: ö
    ä: ä
    å: å
    Ö: Ö
    Ä: Ä
    Å: Å

# regexp for spanish rules:

# regexp: '/([^A-Za-z0-9åäöÅÄÖáéíóúñÁÉÍÓÚÑ]|-)+/'

# Spanish rules, comment the above and uncomment the below rules to use:

#rules:
#    ö: ö
#    ä: ä
#    å: å
#    Ö: Ö
#    Ä: Ä
#    Å: Å
#    Á: Á
#    É: É
#    í: í
#    Ó: Ó
#    Ú: Ú
#    Ñ: Ñ
#    á: á
#    é: é
#    í: í
#    ó: ó
#    ú: ú
#    ñ: ñ
